* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100dvh;
  background-color: #db7093; /* palevioletred */
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #708090;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-width: 350px;
  height: 400px;
  padding: 1rem;
  box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.1);
}

.element-number {
  color: #1f2430;
  height: 192px;
  font-size: 6rem;
  font-weight: 400;
}

.element-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: rgb(255, 239, 213);
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

#info {
  opacity: 0;
}

.check {
  text-align: right;
  cursor: pointer;
}

svg {
  color: blue;
  width: 24px;
  height: 24px;
  margin-bottom: -4px;
}

#number {
  margin-right: 0.5rem;
}

#symbol {
  font-weight: bold;
  margin-right: 0.5rem;
}

#name {
  margin-right: 0.5rem;
}

.refresh-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
  display: block;
  background-color: #ca3364;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem auto;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #ca3364ee;
  cursor: pointer;
}

.no-more-elements {
  background-color: #2f4f4f;
}

.no-more-elements:hover {
  background-color: #2f4f4f;
  cursor: not-allowed;
}

.info-done {
  opacity: 0;
}

@media (min-width: 640px) {
  .container {
    min-width: 450px;
    height: 450px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 0.75rem;
  }

  .element-number {
    font-size: 8rem;
  }

  .btn {
    font-size: 1.5rem;
  }
}
